/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf) format("opentype");
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf) format("opentype");
}
@font-face {
    font-family: Roboto-Light-Italic;
    src: url(fonts/Roboto-LightItalic.ttf) format("opentype");
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf) format("opentype");
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family: "Roboto-Regular";
    font-size:12px;
    height:100%;
    margin:0px;
    width:100%;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);

}

h1, h2, h3, h4, h5 {
    font-family: "Roboto-Bold";
    color: white;
}

#aboveNav {
    background-color:#3460A9;position:fixed;z-index:500;top:0;width:100vw; height:50px;
}

.appbackground {
    position:fixed;
    top:0;
    background-image: url('../img/background.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100%;
    width:100vw; 
    background-color: #3460A9;
    overflow:hidden;
}
/* Portrait layout (default) */
.app {

    /* background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: #3460A9; */
    position:absolute;             /* position in the center of the screen */
    /* height:calc(100vh - 58px);                 */
    height: 100vh;
    width:100vw;                   /* text area width */
    text-align:center;
    /* top:58px; */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:30px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    /* text-align:center; */
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/* SCHED */
#event-name {
    background-color:red !important;
}
.sched-share {
    display:none;
}
#sched-iframe {
    background-color: rgba(255, 255, 255, 1);
    
}
#sched-iframe article {
    display:none;
}
/* Home */

#home_divs {
    position:fixed;
    display: flex;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
    top:45px;
    /* padding-top:20px; */
    height: 100%;
}
.page_container {
    top:45px;
    position:fixed;
    height: 100%;
    width: 100%;
    overflow:scroll;
}
#home_banner {
    /* top: 7vh; */
    position:absolute;
    width:100vw;
}

#home_banner_img {
    /* opacity: 0.7; */
    width:100%;
}
.bracket {
    height: 40px;
}
.homebutton {
    color:white;
    margin:20px 30px 30px 30px;
    position:relative;
}

#homebutton_ArtTrack, #homebutton_Program  {

    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.homebutton p {
 margin:0;
 display: inline-block;
 white-space: nowrap;
 border-bottom:white 1px solid;
 padding-bottom: 5px;
}

.homebutton h1 {
    font-size: 30px;
}

.stripe{
    display: inline-block;
    white-space: nowrap;
 }

#homebutton_Program{
    text-align: left !important;
}

#homebutton_ArtTrack{
    text-align: right !important;
}
/* Art List */
#blue_bottom {
    width: 100%;
}
#artwork_list  {
    padding: 15px;
    padding-bottom: 80px;
    position:relative;
}
.artwork_container {
    position:absolute; overflow:visible; height: calc(100% - 58px);
}
.artwork_list_icon {
    width: max-content; float: left; position:fixed; z-index: 900; margin-top: 15px;
}
.artwork_list_icon a {
    /* text-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.7) !important;  */
    box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.7);
}
.table_description, .artwork_thumbnail, .last_item {
    padding: 10px 0px 10px 0px;

}
.artwork_thumbnail {
    margin: 10px 10px 10px 0px;
}
input::placeholder {
    opacity:1;
    color: white;
    font-family: 'Roboto-Regular';

}
.search_bar {
    text-align: left !important;
    width: 100%;
    max-width: 200px;
    display:flex !important;
}
.search_bar input {
    border: none;
    background-color: transparent;
    font-size: 11px;
    color: white;
    font-family: 'Roboto-Regular';
    overflow:hidden;
    width: inherit;
}

#search_input:active, #search_input:focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
.search_bar button {
    background-color: transparent;
    font-size: 11px;
    color: white;
    border:0;
    padding: 0px 2px 0px 0px
}
.search_bar button:hover {
    cursor: pointer;
}
.search_bar:hover button, .search_bar:hover input {
    background-color: transparent;
    font-size: 11px;
    color: #2b2b2b;
    border:0;
}
#artwork_list {
    text-align: left;
}

#artwork_list h2 {
    margin:0;
}
#artwork_list p {
    color: white;
    margin-top:5px;
    margin-bottom: 5px;
}
#artwork_list .arrow_img {
    margin:0;
    height: 15px;
    float: right;
    width: 20px;
}
.artwork_thumbnail {
    /* background-color:white; */
    padding: 0px 10px 0px 0px;
    display:flex;
    overflow: hidden;
}
.artwork_thumbnail img {
    height: 100%;
    width: 100%;
}
.artwork_list_item td {
    width: 33%;
    padding-bottom:5px;
}
.artwork_list_item {
    border-bottom: 1px white solid;
    overflow:scroll;
}
#artwork_list table {
    width: 100%;
    padding:15px;
    overflow:scroll;

}
.last_item {
    display:flex; 
    flex-direction:column; 
    justify-content: space-between;
    float:right;
}
/* Artwork page */
.program_arttrack_banner {
    background-color:rgba(0,0,0,1);
    padding: 55px 15px 0 15px;
    height: 100px;
    text-align:left !important;
}
#upload_success {
    display:none;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    color: white;
    padding: 50px 0 50px 0;
}
.archive_select {
    width: 100%;
    height: 15px;
    font-size: 10px;
    margin: 5px 0px 0px;
}
.archive_select:active, .archive_select:focus {
    outline:none !important;
    border:none;
}
.archive_select option {
    height: 15px;
    font-size: 10px;
}
.archive_select option:active, .archive_select option:focus {
    height: 15px;
    font-size: 10px;
    outline:none !important;
    border:none;
}
#archive_actions {
    z-index: 10;
    position: absolute;
    float: right;
    right: 0;
    width:100vw;
    bottom: 0;
    padding: 25px 10px 25px 25px;
    display:flex;
    justify-content: end;
    flex-direction:column;
}
.archive_sub {
    display:flex;
    justify-content: end;
    flex-direction:row;
}
#archive_actions h5{
    /* text-shadow: 0.1em 0.1em 0.2em black; */
    width: max-content;
    float: left;
    margin: auto;
    margin-right: 5px;
    font-family: "Roboto-Bold";
    background-color: #3460A9;
    font-size: 10pt;
    padding: 5px;
    font-weight:bolder;
}
.archive_circle{
    float:left;
    /* background-color:#3460A9; */
    background-color:white;
    height:30px;
    width:30px;
    padding:5px;
    text-align: center;
    border-radius:25px;
    border:white 1px solid;
    color:black!important;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 0px 5px 0px 5px;
    font-size:10pt;
}
.archive_circle:active, .archive_circle:focus, .archive_circle:hover {
    background-color:#3460A9 !important;
    border:#3460A9 1px solid !important;
    color:white!important;
}
#archive_form input:active, #archive_form input:focus {
    border: none;
    outline:none;
    border-bottom: white 1.5px solid;
}
/* .archive_circle:hover, .archive_circle:active {
    background-color:rgb(115, 160, 233);

} */
.artwork_description {
    height:fit-content;
    text-align: left;
    padding:20px;
    background-color:black;
    border-radius:25px 25px 0px 0px;
    z-index: 111;
    position: relative;
    top:-20px;
 
}
.artwork_banner{
    height: 250px;
    background-color: white;
    position:relative;
    z-index: 1;
    display: flex;
}
.artwork_banner img {
    min-width: 100%;
    min-height:100%;
}

/* Map */
.level {
    margin-top:15px;
    /* margin-right:0px !important; */
}
.map_header {
    color:white;
}
map {
    display: inline;
  }

.plan_div {
    overflow-x: scroll;
}
#mapid {
    background-color:white;
}

/* SCHED */
#sched-iframe {
    max-height:90vh;
    overflow:scroll;
}

.background_blue {
    background-color: rgba(50,95,168,0.6);
}

.program_arttrack_banner p, .program_arttrack_banner h1, #right_screen p, #left_screen p {
    color: white;
}

#right_screen {
    text-align: left;
}
.full_width {
    width: 100%;
}
hr {
    background-color:white;
}
h2, h3 {
    color: white;
}
.click_header_home {
    display: flex; 
    margin:15px 0px 15px 0px;
    justify-content:space-between;
    cursor:pointer
}
.art_preview {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-bottom: 20px;
}
.arrow_img {
    height: 25px;
    float: right;
    margin-top: 15px;
}
.qr_small {
    float: right;
    height: 50px;
    filter: drop-shadow(0 0 10px #656565);
}
.art_preview div{
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: cover;
}

.subcontent {
    padding: 0 15px 0 15px;
    height: 100%;
}
/* Button */

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="submit"].btn,
button.btn {
	cursor: pointer;
}

a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.btn-radius {
  border-radius: 25px;
}
/* Sizes */
.btn-small {
	font-size: 0.8125em;
    padding: 0.4125em 1.25em;
    height:22px;
}


.btn-gray {
	color: white;
	border-color: white;
}
.btn-gray:hover {
  background: white;
  color: #2b2b2b;
  border-color: white;	
}

.btn-gray_active {
  background: white;
  color: #2b2b2b;
  border-color: white !important;	
}

/* Respnsive */
/* Smartphones (portrait and landscape) ----------- */
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }

    @media only screen and (max-width: 414px) {
        /* Styles */
    }
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (max-width : 630px){

    }
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (max-width : 768px){

    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (max-width : 1024px) {
    /* Styles */
    }
    

/* Archive */
#archive_popup{
    width:100vw;
    height:70vh; 
    top:30vh;
    border-radius: 25px 25px 0px 0px;
    background-color:#3460A9; 
    position: absolute; 
    z-index: 999;
    display:none;
}
#success_icon{
    font-size: 4em; 
    margin-bottom: 5px; 
    color: white;
}
#disclaimer_popup {
    position: absolute;
    margin:0 5px 0 5px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    display:none;
}
#disclaimer_popup2 {
    position: absolute;
    margin:0 5px 0 5px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    display:none;
}
#archive_meta{
    width:100%;
}
#archive_meta input {
    -webkit-border-radius:0; 
    border-radius:0;
}
#content_archive {
    display:flex;
    width:100%;
}
#archive_form{
    width:100%;
    color:white;
    font-weight:bold;
}

#archive_form input {
    background-color: transparent;
    border: none;
    color:white;
    width:100%;
    border-bottom: white 1.5px solid;
    margin-bottom:10px;
}
.tickbox {
    background-color: transparent;
    color: white;
    border: white 1px solid;
    margin: 0 5px 0 0;
}
#archive_popup label {
    color:white;
    font-family: "Roboto-Light-Italic";
    font-size: 80%;
}
#archive_form input::placeholder {
    font-family: "Roboto-Light-Italic";
    font-size: 80%;
    opacity:0.7;

}
#archive_form input{
    font-family: "Roboto-Light-Italic";
    opacity:1;
}
.archive_form{
    display:flex;
    flex-direction:column;
}
#image_archive {
    width: 30vw;
    height:30vw;
    float:left;
    margin-right:20px;
    background-color:white;
}
#audio_archive, #audio_archive:active, #audio_archive:focus, #audio_archive:hover{
    width: 20vw;
    height:20vw;
    float:left;
    margin-right:20px;
    background-color:white !important;
    /* background-color:black; */
    color:black !important;
    border-radius:25vw;
}
#audio_archive i, #audio_archive div{
color:black;
font-weight:bolder;
}
/* Loader */
#snow {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#loader {
    width:100%; 
    height:100%; 
    background-color:#3460A9; 
    position: absolute; 
    z-index: 1001;
}
#splash{
    /* background-image: url('../img/background.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* height: calc(100vh - 58px); */
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* top: 58px; */
    z-index: 1000;
    background-color:rgba(50,95,168,1);
    /* background-blend-mode: multiply; */

}
.pulsate {    
    animation-timing-function:ease-in-out;
    -webkit-animation-timing-function:ease-in-out;
    animation:pulsate 3000ms infinite;
    -webkit-animation:pulsate 3000ms infinite;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
        background-color:white;
    }
    100% { 
        opacity: 0.5;
    }
}
@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 0;
    }
    100% { 
        opacity: 0.5;
    }
}
#bars {
    height: 30px;
    left: 50%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}
 #bars p {
  padding-top: 20px;
   color:#FFF;
}

.bar {
   background: #FFF;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }

@media screen and (min-width: 375px){
    h1 {
        font-size: 40px !important;
    }
}