/* -------------------
    # LOADER
   ------------------- */
   .layer-1 > .path {
    stroke: rgba(234, 234, 234, 0.5);
    stroke-width: 15;
    stroke-dasharray: 7747.2;
    stroke-dashoffset: 7747.2;
    visibility: hidden;
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  .loaded .layer-1 > .path {
    visibility: visible;
    -moz-animation: layer-1 1.25s ease-in;
    -webkit-animation: layer-1 1.25s ease-in;
    animation: layer-1 1.25s ease-in;
  }
  
  @-moz-keyframes layer-1 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 15;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 45;
      stroke-width: 225;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -moz-transform: rotate(450deg);
      transform: rotate(450deg);
    }
  }
  @-webkit-keyframes layer-1 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 15;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 45;
      stroke-width: 225;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -webkit-transform: rotate(450deg);
      transform: rotate(450deg);
    }
  }
  @keyframes layer-1 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 15;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 45;
      stroke-width: 225;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -moz-transform: rotate(450deg);
      -ms-transform: rotate(450deg);
      -webkit-transform: rotate(450deg);
      transform: rotate(450deg);
    }
  }
  .layer-2 > .path {
    stroke: rgba(234, 234, 234, 0.3);
    stroke-width: 20;
    stroke-dasharray: 7747.2;
    stroke-dashoffset: 7747.2;
    visibility: hidden;
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  .loaded .layer-2 > .path {
    visibility: visible;
    -moz-animation: layer-2 1.25s ease-in;
    -webkit-animation: layer-2 1.25s ease-in;
    animation: layer-2 1.25s ease-in;
  }
  
  @-moz-keyframes layer-2 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 20;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 60;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -moz-transform: rotate(420deg);
      transform: rotate(420deg);
    }
  }
  @-webkit-keyframes layer-2 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 20;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 60;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -webkit-transform: rotate(420deg);
      transform: rotate(420deg);
    }
  }
  @keyframes layer-2 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 20;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 60;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -moz-transform: rotate(420deg);
      -ms-transform: rotate(420deg);
      -webkit-transform: rotate(420deg);
      transform: rotate(420deg);
    }
  }
  .layer-3 > .path {
    stroke: rgba(234, 234, 234, 0.8);
    stroke-width: 40;
    stroke-dasharray: 5810.4;
    stroke-dashoffset: 5810.4;
    visibility: hidden;
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
  .loaded .layer-3 > .path {
    visibility: visible;
    -moz-animation: layer-3 1.25s ease-in;
    -webkit-animation: layer-3 1.25s ease-in;
    animation: layer-3 1.25s ease-in;
  }
  
  @-moz-keyframes layer-3 {
    0% {
      stroke-dasharray: 5810.4;
      stroke-dashoffset: 5810.4;
    }
    75% {
      stroke-width: 40;
      stroke-dashoffset: 2905.2;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 120;
      stroke-dasharray: 5842.68;
      stroke-dashoffset: 0;
      -moz-transform: rotate(410deg);
      transform: rotate(410deg);
    }
  }
  @-webkit-keyframes layer-3 {
    0% {
      stroke-dasharray: 5810.4;
      stroke-dashoffset: 5810.4;
    }
    75% {
      stroke-width: 40;
      stroke-dashoffset: 2905.2;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 120;
      stroke-dasharray: 5842.68;
      stroke-dashoffset: 0;
      -webkit-transform: rotate(410deg);
      transform: rotate(410deg);
    }
  }
  @keyframes layer-3 {
    0% {
      stroke-dasharray: 5810.4;
      stroke-dashoffset: 5810.4;
    }
    75% {
      stroke-width: 40;
      stroke-dashoffset: 2905.2;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 120;
      stroke-dasharray: 5842.68;
      stroke-dashoffset: 0;
      -moz-transform: rotate(410deg);
      -ms-transform: rotate(410deg);
      -webkit-transform: rotate(410deg);
      transform: rotate(410deg);
    }
  }
  .layer-4 > .path {
    stroke: rgba(234, 234, 234, 0.6);
    stroke-width: 20;
    stroke-dasharray: 7747.2;
    stroke-dashoffset: 7747.2;
    visibility: hidden;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .loaded .layer-4 > .path {
    visibility: visible;
    -moz-animation: layer-4 1.25s ease-in;
    -webkit-animation: layer-4 1.25s ease-in;
    animation: layer-4 1.25s ease-in;
  }
  
  @-moz-keyframes layer-4 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 20;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 60;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -moz-transform: rotate(390deg);
      transform: rotate(390deg);
    }
  }
  @-webkit-keyframes layer-4 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 20;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 60;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -webkit-transform: rotate(390deg);
      transform: rotate(390deg);
    }
  }
  @keyframes layer-4 {
    0% {
      stroke-dasharray: 7747.2;
      stroke-dashoffset: 7747.2;
    }
    75% {
      stroke-width: 20;
      stroke-dashoffset: 3873.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 60;
      stroke-dasharray: 7779.48;
      stroke-dashoffset: 0;
      -moz-transform: rotate(390deg);
      -ms-transform: rotate(390deg);
      -webkit-transform: rotate(390deg);
      transform: rotate(390deg);
    }
  }
  .layer-5 > .path {
    stroke: rgba(234, 234, 234, 0.5);
    stroke-width: 30;
    stroke-dasharray: 9684;
    stroke-dashoffset: 9684;
    visibility: hidden;
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  .loaded .layer-5 > .path {
    visibility: visible;
    -moz-animation: layer-5 1.25s ease-in;
    -webkit-animation: layer-5 1.25s ease-in;
    animation: layer-5 1.25s ease-in;
  }
  
  @-moz-keyframes layer-5 {
    0% {
      stroke-dasharray: 9684;
      stroke-dashoffset: 9684;
    }
    75% {
      stroke-width: 30;
      stroke-dashoffset: 4842;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 90;
      stroke-dasharray: 9716.28;
      stroke-dashoffset: 0;
      -moz-transform: rotate(460deg);
      transform: rotate(460deg);
    }
  }
  @-webkit-keyframes layer-5 {
    0% {
      stroke-dasharray: 9684;
      stroke-dashoffset: 9684;
    }
    75% {
      stroke-width: 30;
      stroke-dashoffset: 4842;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 90;
      stroke-dasharray: 9716.28;
      stroke-dashoffset: 0;
      -webkit-transform: rotate(460deg);
      transform: rotate(460deg);
    }
  }
  @keyframes layer-5 {
    0% {
      stroke-dasharray: 9684;
      stroke-dashoffset: 9684;
    }
    75% {
      stroke-width: 30;
      stroke-dashoffset: 4842;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 90;
      stroke-dasharray: 9716.28;
      stroke-dashoffset: 0;
      -moz-transform: rotate(460deg);
      -ms-transform: rotate(460deg);
      -webkit-transform: rotate(460deg);
      transform: rotate(460deg);
    }
  }
  .layer-6 > .path {
    stroke: rgba(234, 234, 234, 0.2);
    stroke-width: 45;
    stroke-dasharray: 12266.4;
    stroke-dashoffset: 12266.4;
    visibility: hidden;
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  .loaded .layer-6 > .path {
    visibility: visible;
    -moz-animation: layer-6 1.25s ease-in;
    -webkit-animation: layer-6 1.25s ease-in;
    animation: layer-6 1.25s ease-in;
  }
  
  @-moz-keyframes layer-6 {
    0% {
      stroke-dasharray: 12266.4;
      stroke-dashoffset: 12266.4;
    }
    75% {
      stroke-width: 45;
      stroke-dashoffset: 6133.2;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 135;
      stroke-dasharray: 12298.68;
      stroke-dashoffset: 0;
      -moz-transform: rotate(400deg);
      transform: rotate(400deg);
    }
  }
  @-webkit-keyframes layer-6 {
    0% {
      stroke-dasharray: 12266.4;
      stroke-dashoffset: 12266.4;
    }
    75% {
      stroke-width: 45;
      stroke-dashoffset: 6133.2;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 135;
      stroke-dasharray: 12298.68;
      stroke-dashoffset: 0;
      -webkit-transform: rotate(400deg);
      transform: rotate(400deg);
    }
  }
  @keyframes layer-6 {
    0% {
      stroke-dasharray: 12266.4;
      stroke-dashoffset: 12266.4;
    }
    75% {
      stroke-width: 45;
      stroke-dashoffset: 6133.2;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 135;
      stroke-dasharray: 12298.68;
      stroke-dashoffset: 0;
      -moz-transform: rotate(400deg);
      -ms-transform: rotate(400deg);
      -webkit-transform: rotate(400deg);
      transform: rotate(400deg);
    }
  }
  .layer-7 > .path {
    stroke: #eaeaea;
    stroke-width: 75;
    stroke-dasharray: 14526;
    stroke-dashoffset: 14526;
    visibility: hidden;
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  .loaded .layer-7 > .path {
    visibility: visible;
    -moz-animation: layer-7 1.25s ease-in;
    -webkit-animation: layer-7 1.25s ease-in;
    animation: layer-7 1.25s ease-in;
  }
  
  @-moz-keyframes layer-7 {
    0% {
      stroke-dasharray: 14526;
      stroke-dashoffset: 14526;
    }
    75% {
      stroke-width: 75;
      stroke-dashoffset: 7263;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 225;
      stroke-dasharray: 14558.28;
      stroke-dashoffset: 0;
      -moz-transform: rotate(470deg);
      transform: rotate(470deg);
    }
  }
  @-webkit-keyframes layer-7 {
    0% {
      stroke-dasharray: 14526;
      stroke-dashoffset: 14526;
    }
    75% {
      stroke-width: 75;
      stroke-dashoffset: 7263;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 225;
      stroke-dasharray: 14558.28;
      stroke-dashoffset: 0;
      -webkit-transform: rotate(470deg);
      transform: rotate(470deg);
    }
  }
  @keyframes layer-7 {
    0% {
      stroke-dasharray: 14526;
      stroke-dashoffset: 14526;
    }
    75% {
      stroke-width: 75;
      stroke-dashoffset: 7263;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 225;
      stroke-dasharray: 14558.28;
      stroke-dashoffset: 0;
      -moz-transform: rotate(470deg);
      -ms-transform: rotate(470deg);
      -webkit-transform: rotate(470deg);
      transform: rotate(470deg);
    }
  }
  .layer-8 > .path {
    stroke: rgba(234, 234, 234, 0.5);
    stroke-width: 250;
    stroke-dasharray: 17431.2;
    stroke-dashoffset: 17431.2;
    visibility: hidden;
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
  .loaded .layer-8 > .path {
    visibility: visible;
    -moz-animation: layer-8 1.25s ease-in;
    -webkit-animation: layer-8 1.25s ease-in;
    animation: layer-8 1.25s ease-in;
  }
  
  @-moz-keyframes layer-8 {
    0% {
      stroke-dasharray: 17431.2;
      stroke-dashoffset: 17431.2;
    }
    75% {
      stroke-width: 250;
      stroke-dashoffset: 8715.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 750;
      stroke-dasharray: 17463.48;
      stroke-dashoffset: 0;
      -moz-transform: rotate(410deg);
      transform: rotate(410deg);
    }
  }
  @-webkit-keyframes layer-8 {
    0% {
      stroke-dasharray: 17431.2;
      stroke-dashoffset: 17431.2;
    }
    75% {
      stroke-width: 250;
      stroke-dashoffset: 8715.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 750;
      stroke-dasharray: 17463.48;
      stroke-dashoffset: 0;
      -webkit-transform: rotate(410deg);
      transform: rotate(410deg);
    }
  }
  @keyframes layer-8 {
    0% {
      stroke-dasharray: 17431.2;
      stroke-dashoffset: 17431.2;
    }
    75% {
      stroke-width: 250;
      stroke-dashoffset: 8715.6;
    }
    100% {
      stroke: #eaeaea;
      stroke-width: 750;
      stroke-dasharray: 17463.48;
      stroke-dashoffset: 0;
      -moz-transform: rotate(410deg);
      -ms-transform: rotate(410deg);
      -webkit-transform: rotate(410deg);
      transform: rotate(410deg);
    }
  }
  .loader {
    position: absolute;
    width: 120px;
    height: 120px;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 9999;
  }
  .loaded .loader {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 2.25s ease-in-out 1.25s;
    -o-transition: all 2.25s ease-in-out 1.25s;
    -webkit-transition: all 2.25s ease-in-out;
    -webkit-transition-delay: 1.25s;
    transition: all 2.25s ease-in-out 1.25s;
  }
  .loader g, .loader circle {
    transform-origin: 50% 50%;
  }
  
  .core > .path {
    fill: #325fa8;
    visibility: hidden;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -moz-transition: all 0.625s ease-in-out 0.15625s;
    -o-transition: all 0.625s ease-in-out 0.15625s;
    -webkit-transition: all 0.625s ease-in-out;
    -webkit-transition-delay: 0.15625s;
    transition: all 0.625s ease-in-out 0.15625s;
  }
  .loaded .core > .path {
    -moz-animation: core-loaded 1.5s ease-in-out;
    -webkit-animation: core-loaded 1.5s ease-in-out;
    animation: core-loaded 1.5s ease-in-out;
  }
  
  @-moz-keyframes core-loaded {
    0% {
      visibility: hidden;
      -moz-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    25%, 85% {
      opacity: 1;
      visibility: visible;
      -moz-transform: scale(1000, 1000);
      transform: scale(1000, 1000);
    }
    100% {
      opacity: 0;
      -moz-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  @-webkit-keyframes core-loaded {
    0% {
      visibility: hidden;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    25%, 85% {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1000, 1000);
      transform: scale(1000, 1000);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  @keyframes core-loaded {
    0% {
      visibility: hidden;
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    25%, 85% {
      opacity: 1;
      visibility: visible;
      -moz-transform: scale(1000, 1000);
      -ms-transform: scale(1000, 1000);
      -webkit-transform: scale(1000, 1000);
      transform: scale(1000, 1000);
    }
    100% {
      opacity: 0;
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  .spinner {
    opacity: 1;
    -moz-transition: opacity 0.1s 0.1s;
    -o-transition: opacity 0.1s 0.1s;
    -webkit-transition: opacity 0.1s;
    -webkit-transition-delay: 0.1s;
    transition: opacity 0.1s 0.1s;
    -moz-animation: rotate 1.25s linear infinite;
    -webkit-animation: rotate 1.25s linear infinite;
    animation: rotate 1.25s linear infinite;
  }
  .loaded .spinner {
    opacity: 0;
  }
  .spinner > .path {
    stroke: #325fa8;
    stroke-width: 6;
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    -moz-animation: spinner 0.1 both infinite ease-in-out;
    -webkit-animation: spinner 0.1 both infinite ease-in-out;
    animation: spinner 0.1 both infinite ease-in-out;
  }
  
  @-moz-keyframes rotate {
    0% {
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }
  @keyframes rotate {
    0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      stroke-dasharray: 157;
      stroke-dashoffset: 157;
    }
    65% {
      stroke-dasharray: 157;
      stroke-dashoffset: 39.25;
      transform: rotate(135deg);
    }
    100% {
      stroke-dasharray: 157;
      stroke-dashoffset: 157;
      transform: rotate(450deg);
    }
  }
  @-webkit-keyframes spinner {
    0% {
      stroke-dasharray: 157;
      stroke-dashoffset: 157;
    }
    65% {
      stroke-dasharray: 157;
      stroke-dashoffset: 39.25;
      transform: rotate(135deg);
    }
    100% {
      stroke-dasharray: 157;
      stroke-dashoffset: 157;
      transform: rotate(450deg);
    }
  }
  @keyframes spinner {
    0% {
      stroke-dasharray: 157;
      stroke-dashoffset: 157;
    }
    65% {
      stroke-dasharray: 157;
      stroke-dashoffset: 39.25;
      transform: rotate(135deg);
    }
    100% {
      stroke-dasharray: 157;
      stroke-dashoffset: 157;
      transform: rotate(450deg);
    }
  }
  .container {
    position: fixed;
    overflow: hidden;
  }
  
  .center, .loader, .container, .page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .loader, .core, .spinner, .path {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  /* -------------------
      # PAGE
     ------------------- */
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80vh;
  }
  
  .w5 {
    width: 5%;
  }
  
  .w10 {
    width: 10%;
  }
  
  .w15 {
    width: 15%;
  }
  
  .w20 {
    width: 20%;
  }
  
  .w25 {
    width: 25%;
  }
  
  .w30 {
    width: 30%;
  }
  
  .w35 {
    width: 35%;
  }
  
  .w40 {
    width: 40%;
  }
  
  .w45 {
    width: 45%;
  }
  
  .w50 {
    width: 50%;
  }
  
  .w55 {
    width: 55%;
  }
  
  .w60 {
    width: 60%;
  }
  
  .w65 {
    width: 65%;
  }
  
  .w70 {
    width: 70%;
  }
  
  .w75 {
    width: 75%;
  }
  
  .w80 {
    width: 80%;
  }
  
  .w85 {
    width: 85%;
  }
  
  .w90 {
    width: 90%;
  }
  
  .w95 {
    width: 95%;
  }
  
  .w100 {
    width: 100%;
  }
  
  .ib {
    display: inline-block;
  }
  
  .fw {
    flex: 0 0 97%;
  }
  
  .hw {
    flex: 0 0 30%;
  }
  
  .mt0 {
    margin-top: 0;
  }
  
  .mb2 {
    margin-bottom: 2vh;
  }
  
  .h10 {
    height: 10vh;
  }
  
  .f0 {
    font-size: 0;
  }
  
  @-moz-keyframes scaleX-in {
    from {
      -moz-transform: scaleX(0);
      transform: scaleX(0);
    }
    to {
      -moz-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  @-webkit-keyframes scaleX-in {
    from {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  @keyframes scaleX-in {
    from {
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
    to {
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  @-moz-keyframes scale-in {
    from {
      -moz-transform: scale(0);
      transform: scale(0);
    }
    to {
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }
  @-webkit-keyframes scale-in {
    from {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-in {
    from {
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    to {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @-moz-keyframes btn-loaded {
    from {
      color: #ccc;
      background: #ccc;
    }
    to {
      color: #fff;
      background: #325fa8;
    }
  }
  @-webkit-keyframes btn-loaded {
    from {
      color: #ccc;
      background: #ccc;
    }
    to {
      color: #fff;
      background: #325fa8;
    }
  }
  @keyframes btn-loaded {
    from {
      color: #ccc;
      background: #ccc;
    }
    to {
      color: #fff;
      background: #325fa8;
    }
  }
  @-moz-keyframes btn-restart {
    from {
      color: #325fa8;
      background: #325fa8;
    }
    to {
      color: #ccc;
      background: #ccc;
    }
  }
  @-webkit-keyframes btn-restart {
    from {
      color: #325fa8;
      background: #325fa8;
    }
    to {
      color: #ccc;
      background: #ccc;
    }
  }
  @keyframes btn-restart {
    from {
      color: #325fa8;
      background: #325fa8;
    }
    to {
      color: #ccc;
      background: #ccc;
    }
  }
  

  

  /* @import "compass/css3";

/* -------------------
    # LOADER
   ------------------- */

$major: rgba(50,95,168,1);
$minor: #eaeaea;
$dur: 1.25s;
$pi2: 16.14*2;

$layerlist: (
  // (radius, circumference, angle, width, color) //
  1: (70,  $pi2*240, -30, 15, rgba($minor, .5)),
  2: (120, $pi2*240, -60, 20, rgba($minor, .3)),
  3: (180, $pi2*180, -70, 40, rgba($minor, .8)),
  4: (240, $pi2*240, -90, 20, rgba($minor, .6)),
  5: (300, $pi2*300, -20, 30, rgba($minor, .5)),
  6: (380, $pi2*380, -80, 45, rgba($minor, .2)),
  7: (450, $pi2*450, -10, 75, rgba($minor,  1)),
  8: (540, $pi2*540, -70, 250, rgba($minor, .5))
);

@each $layer, $key in $layerlist {
  $r: nth($key, 1);
  $c: nth($key, 2);
  $angle: nth($key, 3);
  $width: nth($key, 4);
  $color: nth($key, 5);
  .layer-#{$layer} > .path {
    stroke: $color;
    stroke-width: $width;
    stroke-dasharray: $c;
    stroke-dashoffset: $c;
    visibility: hidden;
    @include transform(rotate(#{$angle}deg));
    .loaded & {
      visibility: visible;
      @include animation(layer-#{$layer} $dur ease-in);
    }
  }
  @include keyframes(layer-#{$layer}) {
    0% {
      stroke-dasharray: $c;
      stroke-dashoffset: $c;
    }
    75% {
      stroke-width: $width;
      stroke-dashoffset: $c/2;
    }
    100% {
      stroke: $minor;
      stroke-width: $width*3;
      @if ($layer == 1) { stroke-width: $width*15; }
      stroke-dasharray: $c+$pi2;
      stroke-dashoffset: 0;
      @include transform(rotate(#{$angle+480}deg));
    }
  }
}

.loader {
  position: absolute;
  @extend .center;
  width: 120px;
  height: 120px;
  @include transform(scale(1));
  z-index: 9999;
  .loaded & {
    @include transform(scale(0));
    @include transition(all $dur+1 forwards $dur ease-in-out);
  }
  g, circle {
    transform-origin: 50% 50%;
  }
}

.core {
  > .path {
    fill: $major;
    visibility: hidden;
    @include scale(1);
    @include transition(all $dur/2 $dur/8 ease-in-out);
    .loaded & {
      @include animation(core-loaded $dur*1.2 ease-in-out);
    }
  }
}

@include keyframes(core-loaded) {
  0% {
    visibility: hidden;
    @include scale(1);
  }
  25%, 85% {
    opacity: 1;
    visibility: visible;
    @include scale(1000);
  }
  100% {
    opacity: 0;
    @include scale(1);
  }
}

$R: 25;
$c: 2 * 3.14 * $R;

.spinner {
  opacity: 1;
  @include transition(opacity .1s .1s);
  @include animation(rotate $dur linear infinite);
  .loaded & {
    opacity: 0;
  }
  > .path {
    stroke: $major;
    stroke-width: 6;
    stroke-dasharray: $c;
    stroke-dashoffset: $c;
    @include animation(spinner 0.1 both infinite ease-in-out);
  }
}

@include keyframes(rotate) {
  0%   { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(270deg)); }
}

@include keyframes(spinner) {
  0% {
    stroke-dasharray: $c;
    stroke-dashoffset: $c;
  }
  65%  {
    stroke-dasharray: $c;
    stroke-dashoffset: $c / 4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dasharray: $c;
    stroke-dashoffset: $c;
    transform: rotate(450deg);
  }
}

.container {
  position: fixed;
  @extend .center;
  overflow: hidden;
}

.center {
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
}

.loader, .core, .spinner, .path {
  @include transform(translate3d(0, 0, 0));
}


/* -------------------
    # PAGE
   ------------------- */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  @extend .center;
  width: 80vh;
}

@for $i from 1 to 21 {
  $w: $i*5;
  .w#{$w} {
    width: #{$w+'%'};
  }
}

.ib  { display: inline-block; }
.fw  { flex: 0 0 97%; }
.hw  { flex: 0 0 30%; }
.mt0 { margin-top: 0; }
.mb2 { margin-bottom: 2vh; }
.h10 { height: 10vh; }
.f0  { font-size: 0; } 

@include keyframes(scaleX-in) {
  from { @include transform(scaleX(0)); }
  to { @include transform(scaleX(1)); }
}

@include keyframes(scale-in) {
  from { @include transform(scale(0)); }
  to   { @include transform(scale(1)); }
}

@include keyframes(btn-loaded) {
  from { color: #ccc; background: #ccc; }
  to   { color: #fff; background: $major; }
}

@include keyframes(btn-restart) {
  from { color: $major; background: $major; }
  to   { color: #ccc; background: #ccc; }
} */
